/* **********   Inicio  Reset CSS     ********** */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --container-width: 1200px;

    --main-color: #f7df1e;
    --second-color: #222;
    --textDOM: rgb(67, 67, 67);
    --second-text-color:#e5e5e5;
    
    --section-odd-color: #eeeeee;
    --second-section-odd-color:#353535;

    --main-modal-color: #f7df1e;
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --textDOM-modal: rgb(67, 67, 67);
    --dark-modal-color: #222;

  }
  
  html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  button:hover{
   opacity: 0.7;
    transition: all 0.5s ease;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  
  .flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* **********   Fin  Reset CSS     ********** */

section[id] {
  scroll-margin-top: 4.32rem;
}
a {
  text-decoration: none;
  color: currentColor;
}
.header {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
  }
  .h1 {
    margin: 0 auto;
    text-align: center;
  }
  
.section {
 
  padding: 2rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 60vh;
  text-align: center;
}
.h2 {
  color: var(--textDOM);
  text-align: center;

}

.hamburger {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  display: flex;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--main-modal-color);
  border-radius: 100%;
  z-index: 3;
}
.hamburger-inner {
  width: 35px;}
  .hamburger-inner:before {
    width: 35px;}
    .hamburger-inner:after {
      width: 35px;}
.btn-lightDarkMode{
  position: fixed;
  bottom: 5vh;
  left: 3vw ;
  display: flex;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 100%;
  z-index: 3;
 cursor: pointer;
 border-style: none;
 pointer-events: all;
 border: 1px solid var(--main-modal-color);
}
.btn-lightDarkMode svg
{
  width: 2.5rem;
}
.btn-lightDarkMode svg:nth-child(1) {
display: block;
}
.btn-lightDarkMode svg:nth-child(2) {
  display: none;
  }
.btn-lightDarkMode svg:nth-child(1).darkMode{
display: none;
}
.btn-lightDarkMode svg:nth-child(2).darkMode{
  display: block;
  }
  .class-dark{

    --main-color: #222;
    --second-color:#f7df1e;
    --textDOM:#e5e5e5;
    --second-text-color: rgb(67, 67, 67);
    
    --section-odd-color: #353535;
    --second-section-odd-color:#eeeeee;

    background-color: #222;
    color: var(--textDOM);

    /* --main-color: #f7df1e;
    --second-color: #222;
    --textDOM: rgb(67, 67, 67);
    --second-text-color:#e5e5e5;
    
    --section-odd-color: #eeeeee;
    --second-section-odd-color:#353535; */
  }

.btn-scrollTop {
  position: fixed;
  bottom: 5vh;
  right: calc(3vw + 5rem);
  display: flex;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--main-modal-color);
  border-radius: 100%;
  z-index: 3;
 cursor: pointer;
 border-style: none;
 pointer-events: all;
 opacity: 1;
 transition: opacity 0.5s ease;
}

.btn-scrollTop:hover{
  background-color: var(--dark-modal-color);
  border: 1px solid var(--main-modal-color);
  color: var(--main-modal-color);
}

.btn-scrollTop.is-active{
pointer-events: none;
  opacity: 0;
}

.aside-pannel {
  background-color: var(--second-modal-color);
  position: fixed;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  pointer-events: none;
  transition: transform .3s ease, opacity 0.5s ease;
  z-index: 2;
  transform: translate(-100%, 0);
}
.aside-pannel.is-active {
  left: 0;
  right: 0;
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
}
.section:nth-child(odd) {
background-color: var(--section-odd-color);
}
.nav-menu{
    width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.li-menu {
  list-style-type: none;
  width: inherit;
}
.a-menu {
    width: inherit;
  color: var(--main-modal-color);
  font-size: x-large;
  padding: 2rem;
  display: block;
  transition: all 0.3s ease;
}
.a-menu:hover {
  background-color: var(--main-modal-color);
  color: var(--textDOM-modal);
  font-weight: bold;
}

.button-clock{
    width: 4rem;
    height: 4rem;
background-color: var(--main-modal-color);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pannel-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.div-clock{
    font-size: xxx-large;
    min-height: 4rem;
}
.figure-keyboard{
    width: 100%;
    height: 70vh;
    background-image: url(../assets/grass.jpg);
  background-repeat: repeat;
    margin: 0;
    position: relative;
}
.div-countdown{
  font-size: x-large;
  min-height: 4rem;
}
 iframe{
  width: 100%;
  min-width: 20rem;
  max-width: 40rem;
  height: 20rem;
  margin:2rem 0;
 }
 .a-responsive{
  padding: 0.5rem;
  color: var(--second-color);
  font-size: larger;
 }
 .a-responsive:hover{
opacity: .7;
 }
 .div-responsiveContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 #form-tester{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 #form-tester input {
  display: block;
  max-width: 30rem;
  width: 100%;
  margin: 0.3rem 0.2rem;
 }
 .div-btnContainer{
  margin: 0.3rem 0;
  display: flex;
 }
